@font-face {
    font-family: "Pixel";
    src: url("Resources/Font.ttf");
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (height <= 810px), (width <= 940px) {
    main {
        padding: 70px;
        height: auto !important;
    }

    footer {
        height: auto !important;
    }
}

:root {
    --theme-color: rgba(83, 146, 239, 1);
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Pixel";
    -webkit-user-select: none;
    user-select: none;
}

header {
    height: 60px;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(83, 146, 239, 0.3);
}

header .logo h1 {
    float: left;
    line-height: 60px;
    margin: 0 0 0 20px;
}

header .logo img {
    float: left;
    width: 60px;
    height: 60px;
}

header .language {
    float: right;
    height: 30px;
}

header .language svg {
    width: 25px;
    height: 25px;
    margin: 20px;
    cursor: pointer;
}

header .language:hover ol {
    opacity: 1;
    max-height: 50px;
}

header .language ol {
    margin: 0;
    opacity: 0;
    max-height: 0;
    border-radius: 5px;
    height: auto;
    transition: all .3s;
    list-style-type: none;
    padding: 5px;
    position: absolute;
    top: 70px;
    right: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(83, 146, 239, 0.6);
}

header .language ol li {
    font-size: 15px;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
}

main {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 170px);
}

main section {
    height: 630px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 0.8);
    box-shadow: 0 4px 15px rgba(83, 146, 239, 0.3);
}

main .generater .tabs {
    margin: 0;
    padding: 0;
    height: 45px;
    color: var(--theme-color);
    background: rgba(83, 146, 239, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main .generater .tabs input {
    display: none;
}

main .generater .tabs label {
    z-index: 10;
    line-height: 45px;
    transition: all .5s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    font-size: 17px;
    position: relative;
}

main .generater .tabs label:hover {
    transform: scale(1.05);
}

main .generater .tabs .glider {
    z-index: 5;
    width: 130px;
    height: 45px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(255, 255, 255, 1);
    position: relative;
    bottom: 45px;
    transition: all .5s;
}

main .generater .tabs #mojang:checked~.glider {
    transform: translateX(0);
}

main .generater .tabs #website:checked~.glider {
    transform: translateX(132px);
}

main .generater .tabs #upload:checked~.glider {
    transform: translateX(270px);
}

main .generater .content {
    width: 300%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    transition: all .5s;
}

main .generater .content span {
    opacity: 0;
    display: block;
    position: relative;
    transition: all .8s;
    transform: translateX(100px);
}

main .generater .content span#active-content {
    opacity: 1;
    transform: none;
}

main .generater .content input {
    height: 55px;
    width: 85%;
    margin: 20px 0;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-family: "Pixel";
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .3s;
    border: 2px solid var(--theme-color);
    box-shadow: 0px 4px 15px rgba(83, 146, 239, 0.3);
}

main .generater .content input:focus {
    outline: none;
    box-shadow: 0px 4px 15px rgba(83, 146, 239, 0.5);
}

main .generater .content .buttons {
    width: 85%;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

main .generater .content .buttons button {
    border: none;
    cursor: pointer;
    font-family: "Pixel";
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--theme-color);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 15px rgba(83, 146, 239, 0.3);
}

main .generater .content .buttons .generate {
    color: white;
    background: var(--theme-color);
}

main .generater .content .mask {
    width: 330px;
    height: 330px;
    border-radius: 10px;
    transform: translateY(-353px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border: 2px solid transparent;
    position: absolute;
    left: 35px;
    opacity: 0;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .generater .content .mask::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border: 8px solid rgba(240, 240, 240, .3);
    border-bottom: 8px solid rgba(240, 240, 240, 1);
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
}

main .generater .content canvas {
    position: relative;
    width: 330px;
    height: 330px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 0;
    border: 2px solid var(--theme-color);
    box-shadow: 0px 4px 15px rgba(83, 146, 239, 0.3);
}

main .generater .content .website .container {
    gap: 15px;
    width: 85%;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

main .generater .content .website .container .inputs {
    display: grid;
    gap: 15px;
}

main .generater .content .website .container .inputs input {
    margin: 0;
    width: 100%;
}

main .generater .content .website .container .buttons {
    margin: 0;
    width: 100%;
    gap: 10px;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
}

main .generater .content .upload label {
    height: 50px;
    width: 85%;
    padding: 10px;
    margin: 20px 0;
    font-size: 18px;
    line-height: 25px;
    color: white;
    display: inline-block;
    text-align: center;
    font-family: "Pixel";
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .3s;
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    box-shadow: 0px 4px 15px rgba(83, 146, 239, 0.3);
}

main .generater .content .upload input {
    display: none;
}

main .generater .content .upload .buttons {
    grid-template-columns: repeat(2, 1fr);
}

main .generater .content .upload .buttons:last-child {
    grid-template-columns: repeat(3, 1fr);
}

main .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}

footer {
    text-align: center;
    box-sizing: border-box;
    height: 80px;
    padding: 15px;
    color: rgba(160, 175, 206, 1);
    background-color: rgba(236, 242, 251, 1);
}

footer p {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
}